# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
!public/templates/2d porfolio designg/dist/
!public/2d digital portfolio/dist/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.env*
.next
blacklane-nextjs/.next
blacklane-nextjs/node_modules
blacklane-nextjs/out
public/templates/blacklane-nextjs/.next
public/templates/blacklane-nextjs/node_modules
public/templates/blacklane-nextjs/out
